<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>accueil</display-name>
    <servlet-name>accueil</servlet-name>
    <servlet-class>accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accueil</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <display-name>Projet</display-name>
  <welcome-file-list>
    <welcome-file>accueil.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>produits</display-name>
    <servlet-name>produits</servlet-name>
    <servlet-class>produits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produits</servlet-name>
    <url-pattern>/produits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>musiques</display-name>
    <servlet-name>musiques</servlet-name>
    <servlet-class>musiques</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>musiques</servlet-name>
    <url-pattern>/musiques</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>produit</display-name>
    <servlet-name>produit</servlet-name>
    <servlet-class>produit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produit</servlet-name>
    <url-pattern>/produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>musique</display-name>
    <servlet-name>musique</servlet-name>
    <servlet-class>musique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>musique</servlet-name>
    <url-pattern>/musique</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>images</display-name>
    <servlet-name>images</servlet-name>
    <servlet-class>images</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>images</servlet-name>
    <url-pattern>/images/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajouter_produit</display-name>
    <servlet-name>ajouter_produit</servlet-name>
    <servlet-class>ajouter_produit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouter_produit</servlet-name>
    <url-pattern>/ajouter_produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifier_produit</display-name>
    <servlet-name>modifier_produit</servlet-name>
    <servlet-class>modifier_produit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifier_produit</servlet-name>
    <url-pattern>/modifier_produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifier_musique</display-name>
    <servlet-name>modifier_musique</servlet-name>
    <servlet-class>modifier_musique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifier_musique</servlet-name>
    <url-pattern>/modifier_musique</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rechercher</display-name>
    <servlet-name>rechercher</servlet-name>
    <servlet-class>rechercher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rechercher</servlet-name>
    <url-pattern>/rechercher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>redirection</display-name>
    <servlet-name>redirection</servlet-name>
    <servlet-class>redirection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirection</servlet-name>
    <url-pattern>/redirection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>not_found</display-name>
    <servlet-name>not_found</servlet-name>
    <servlet-class>not_found</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>not_found</servlet-name>
    <url-pattern>/not_found</url-pattern>
  </servlet-mapping>
</web-app>